<div>
  <div class="view-note-wpr modal">
    <div class="view-note-header modal_header">
      <span class="title">View note</span>
    </div>
    <div class="view-note-middle modal_middle">
      <div class="view-note-info">
        <img src="assets/angular.png" alt="" />
        <div class="view-note-left">
          <span class="view-note-username">You</span>
          <span class="view-note-time">{{ note.time }}</span>
        </div>
      </div>
      <span class="view-note-title" spellCheck="false">{{ note.title }}</span>
      <span class="view-note-content" spellCheck="false">{{
        note.content
      }}</span>
    </div>
    <div class="view-note-bottom modal_bottom">
      <a href="#" class="view-note-delete sec_btn" (click)="deleteNote($event)"
        >Delete Note</a
      >
      <a href="#" class="view-note-cancel pri_btn" (click)="doneViewing($event)"
        >Done</a
      >
    </div>
  </div>
</div>
